
:root{
    --body:#0000CD;
    --cont:#fff;
    --left:#003147;
    --right:#fff;
    --other:#696969;
    --line:#1E90FF;
    --yellow:#FFFF00;
    --white:#F5F5F5;

}

body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", 'Times New Roman', Times, serif;
    line-height: 1.5;
}
@media print{
    html, body{

    -webkit-print-color-adjust:exact ;
    overflow: hidden;
    -webkit-shadow:none ;
    box-shadow: none;

    }
}
.container{
    background-color: var(--cont);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;


}
.left_side{
    background-color: darkblue;
    padding: 40px;
    justify-items: center;
    position: relative;
    margin-left: 100px;

}
.right_side{
    background-color: var(--right);
    position: relative;
}
.image{
text-align: center;

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.image-title{
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding: 5px;
}
.image-title span{
    text-transform: capitalize;
    color: wheat;
    padding: 5px;
    margin: 9px;
}

.contact{
    color: var(--white);
    font-size: 16;

}
.icon{
    padding: 8px;
    font-family: Times New Roman;
}
@media only screen and (min-width: 1189px)
{
.icon span{
    margin-left: 10px;
}
}
  
i{
    color:var(--yellow);
    margin: 5px;
    font-size: 18px;
}
h3{
text-transform: uppercase;
padding: 5px;
    
}
.education{
color: var(--white);
}
.educ-infor{
    text-transform: capitalize;
}
.language{
    color: var(--white);

}
.language p{
    text-transform: capitalize;
}
.language .percent{
    position: relative;
    height: 6px;
    width: 100%;
    background-color: #081921;
    margin-top: 5px;
    display: block;
}
.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    background: #1E90FF;
    height: 100%;


}
 .right_side .profile h3{
     color: blue;

 }
 .profile{
    margin-left: 25px;
    
 }
 .experience{
    margin-left: 25px;
    
 }
 .box{
    display: flex;
 }
 .experience h3{
    color: blue;
 }
 .box .years p{
  text-transform: capitalize;
 }
 .box .years span{
     color:rgb(255, 0, 0);
 }
 .box .infor span{
    text-transform: capitalize;
    color:rgb(255, 0, 0);
    
 }
 .box .infor{
    margin-left: 25px;
 }
 .skils h3{
    color: blue;
 }
 .skils p{
     text-transform: capitalize;
 }
 .skils{
    margin-left: 25px;
 }
.skils .percent{
    position: relative;
    height: 6px;
    width: 100%;
    background-color: #081921;
    margin-top: 5px;
    display: block;
}
.skils .percent div{
    position: absolute;
    top: 0;
    left: 0;
    background: #1E90FF;
    height: 100%;