:root{
    --body:#0000CD;
    --cont:#fff;
    --left:#003147;
    --right:#fff;
    --other:#696969;
    --line:#1E90FF;
    --yellow:#FFFF00;
    --white:#F5F5F5;

}

body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "arial", 'Times New Roman', Times, serif;
    line-height: 1.5;
}

#box{
    padding-top: 5%;

}

.btn{
  
    font-weight: 200;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 20px;
}
button{
    background-color: blue;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 15px;
    border:none;
    border-radius: 15px;
    box-shadow: #FFFF00;
    margin: 0px 15px;
   
}
button i{
    margin-right: 15px;
}


.profile{
    background: darkblue;
    padding-left: 50px;

}
.content{
    padding-left: 50px;
    background-color: var(--right);
    

}

.image{
text-align: center;
padding: 20px;

}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.image-title{
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    padding: 5px;
}
.image-title span{
    text-transform: capitalize;
    color: wheat;
    padding: 5px;
    margin: 9px;
}

.contact{
    color: var(--white);
    font-size: 16px;
    text-transform: capitalize;
    padding: 20px;


}
.icon{
    padding: 8px;
    font-family: Times New Roman;
    font-size: 17px;
    color: yellowgreen;
}
.icon span{
    margin-left: 20px;
}
i{
    font-size: 25px;
}

.education{
color: var(--white);
padding: 20px;
text-transform: capitalize;
}

.educ-infor{
    text-transform: capitalize;
    font-size: 17px;

}
.educ-infor p{
    color:yellowgreen;
}


.language{
    color: var(--white);

}
.language p{
    text-transform: capitalize;
}
.language .percent{
    position: relative;
    height: 6px;
    width: 100%;
    background-color: #081921;
    margin-top: 5px;
    display: block;
}
.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    background: #1E90FF;
    height: 100%;

}

 .skils{
    margin-left: 25px;
 }
.skils .percent{
    position: relative;
    height: 6px;
    width: 100%;
    background-color: #081921;
    margin-top: 5px;
    display: block;
}
.skils .percent div{
    position: absolute;
    top: 0;
    left: 0;
    background: #1E90FF;
    height: 100%;
}

.box .infor{
    margin-left: 25px;
 }


 
 





@media only screen and (max-width: 1199.98px) {
    .btn{
        padding-top: 5%;
    }

    .content{
         padding-top: 5%;
         justify-content: space-between;
         align-items: center;
    }
    .content-body h3{
        padding: 20px;
    }
  
 .btn{
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        boder: none
      
    }

    .contact .title, 
   .icon {

        justify-content: center;
        align-items: center;
    
    }
    .print{
        margin-bottom: 15px;
        width: 180px;
        margin-left: 15px;
    
    }
.download{
    margin-left: 20px;
}





 }


  .box .years p{
  text-transform: capitalize;
 }
 .box .years span{
     color:rgb(255, 0, 0);
 }
 .box .infor span{
    text-transform: capitalize;
    color:rgb(255, 0, 0); 
 }
 .box{
    display: flex;
 }


 .skils p{
     text-transform: capitalize;
     font-size: 22px;
     padding: 9px;

 }

 @media print{
   
    button{
        display: none;
    }
    .container{
        width: 100%;
        height: 100%;
        background-color: none;
    }

     html body{
        -webkit-print-color-adjust: exact ;
        margin: 0;
        padding: 0;
        overflow: hidden;
        webkit-box-shadow: none;
        box-shadow: none;
    }

    @page{
        size: A4;
        margin: 0;
        padding: 0;
        box-shadow: 0;

    }
    .content-body h3{
        margin-top: 60px;
    }

    .skils h3{
        margin-top: 60px;
    }

    interests h3{
        padding-top: 16px;
    }

    .professional-training{
        margin-top: 60px;
    }


}


@media only screen and (min-width: 1199.98px){

.btn{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin: 20px auto;

}

}






 